.btn {
	outline: none;
	cursor: pointer;
	background-color: var(--color-primary);
	border-radius: var(--radius);
	color: #fff;
	font-size: 15px;
	padding: 0 12px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
}
