.dnd_wrapper {
	position: relative;
	display: flex;
	z-index: 100;
	height: 100%;
	width: 100%;
	flex-grow: 1;
	&__active {
		opacity: 1;
		visibility: visible;
		z-index: 100;
	}
	&__fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.dnd_inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: 0.1s;
	background: rgba(0, 0, 0, 0.32);
	align-items: center;
	justify-content: center;
	padding: 12px;
	z-index: 100;
	color: #fff;
	gap: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__active {
		opacity: 1;
		visibility: visible;
		z-index: 100;
	}
	& h3 {
		color: #fff;
	}
}
