@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	height: inherit;
	width: inherit;
}

.app {
	height: 100%;
	width: 100%;
}

.page {
	padding-top: 24px;
	padding-bottom: 40px;
}

:root {
	--color-primary: #ff541a;
	--color-accent: #fff08c;
	--color-black: #454545;
	--radius: 10px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}
